#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.snacks-table {
  width: 100%;
  border-collapse: collapse;
}

.snacks-table th,
.snacks-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.snacks-table th {
  background-color: #f2f2f2;
}
.snacks-table th:hover {
  background-color: #ef4444;
  cursor: pointer;
}

.snacks-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.snacks-table tbody tr:hover {
  background-color: #4ade80;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 250px;
}
